body {
    margin: 0;
    /* padding-left: 1.2em;
    padding-right: 1.2em; */
    padding: 0;
    overflow-x: hidden;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, "Liberation Sans", "Microsoft Yahei", "PingFang SC", "Noto Sans CJK SC", "Wenquanyi Micro Hei", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
    font-size: 18px;
    color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6,
time {
    /* font-family: "Ruda", sans-serif; */
}

body header {
    background-image: url("/images/header/jacalyn-beales-KDg6MX6Wszs-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    width: 100%;
    margin-bottom: 1em;
    position: relative;
}

body header #overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg,#000 16%,#90909000 36%);
    opacity: .46;
    position: absolute;
    height: 100%;
    width: 100%;
}

body header #content {
    position: relative;
    overflow: hidden;
    width: 900px;
    margin: auto;
}

body header h1 {
    font-size: 2.2em;
    margin-top: 1.2em;
}

/* @media only screen and (max-width: 932px) {

} */

body header h1 a {
    /* color: #fb7dc1; */
    color: #fffd;
}

body header ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    /* float: right; */
    position: absolute;
    top: 12px;
    right: 0;

    font-size: 14px;
}

body header ul li {
    margin-left: 1em;
}

body header ul li a{
    color: rgba(255, 255, 255, .9);
}

body header p {
    color: rgba(255, 255, 255, .9);
}

@media only screen and (max-width: 932px) {
    /* body header ul {
        float: none;
    } */
    body header {
        height: 260px;
    }

    body header #content {
        width: auto;
        padding-left: 16px;
        padding-right: 16px;
    }

    body header h1 {
        font-size: 1.8em;
    }

    body header ul li {
        margin: 0 1em 0 0;
    }
}

#container {
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
    /* max-width: 100vw;
    min-height: 100vh; */
    display: flex;
    flex-direction: column;
}

#container>*
{
    width: 900px;
    margin: auto;
}

#container nav {
    border-bottom: solid 3px #c7ebf7;
    padding-bottom: 0.5em;
    /* font-family: "Ruda", sans-serif; */
}

#container nav a {
    color: deeppink;
    text-decoration: none;
}

#container nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

#container nav ul li {
    margin-left: 1em;
}

#container nav ul li a.active {
    border-bottom: 0.5em solid #c7ebf7;
}

#container main {
    flex: 1 0 0;
    line-height: 1.5;
    /* font-size: 1.1em; */
}

#container main h1 {
    font-size: 1.8em;
}

@media only screen and (max-width: 932px) {
    #container>* {
        width: 100%;
    }

    #container main {
        font-size: .9em;
    }
}

#container main section#home ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#container main section#home ul li {
    margin: 0.5em 0;
    padding-bottom: 0.5em;
}

#container main section#home ul li h2 {
    margin: 0.2em 0;
}

#container main section#home span {
    color: #666666;
}

#container main section#home a {
    color: hotpink;
}

#container main section#list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#container main section#list ul li {
    padding: 0.5em 0;
    border-bottom: 1px solid #cecece;
}

#container main section#list ul li time,
#container main section#list ul li span.count {
    float: right;
}

#container main section#list ul li:last-child {
    border-bottom: none;
}

#container main section#list a {
    color: hotpink;
}

#container main section.post-nav ul {
    margin: 0.5em 0;
    padding: 0.5em 0 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #f7f7f7;
    font-size: 0.9em;
}

#container main section.post-nav ul li:last-child {
    text-align: right;
}

#container main article {
    overflow: hidden;
}

#container main article>pre {
    background-color: #eef7d2;
    overflow-x: auto;
    padding: 0.8em;
    font-size: 0.9em;
    /* box-shadow: 0 -1px 0 #bbbbbb inset; */
}

#container main article .highlight {
    overflow: hidden;
    border-radius: 6px;
}

#container main article .highlight pre {
    overflow-x: auto;
    font-size: 0.9em;
    padding: 0.8em;
    margin: 0;
}

#container main article .highlight pre code[data-lang="text"] {
    white-space: normal;
    word-break: break-word;
}

#container main article pre code {
    font-size: 0.9em;
}

#container main article p code,
#container main article li code {
    padding: 0.1em 0.4em 0.2em;
    border-radius: 6px;
    background-color: #ff88882b;
    font-size: 0.9em;
}

#container main article p kbd {
    display: inline-block;
    padding: 0.2em 0.3em;
    font-size: 0.8em;
    line-height: 1em;
    color: #555555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc #cccccc #bbbbbb;
    border-image: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 #bbbbbb inset;
}

#container main article a {
    color: hotpink;
}

#container main h1 {
    /* margin-bottom: 1rem; */
}

#container footer {
    border-top: solid 1px #cecece;
}

#container footer h6 {
    font-size: 0.8em;
}

#container footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

#container footer ul li:first-child {
    margin-right: auto;
}

#container footer ul li:not(:first-child) {
    margin-left: 1em;
}

#container footer ul li a.active {
    border-bottom: 0.2em solid #666666;
}

#container footer img.license {
    border-width: 0;
    width: 80px;
    height: auto;
}

#container textarea,
input {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #cecece;
    border-radius: 3px;
    color: #000000;
    /*display: -webkit-inline-box;*/
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 14px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 24px;
    padding: 8px;
    position: relative;
    box-shadow: inset 0 1px 2px rgba(17, 17, 17, 0.1);
    max-width: 100%;
    width: 100%;
}

#container button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #d3d6db;
    border-radius: 3px;
    color: #666666;
    /*display: -webkit-inline-box;*/
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

#container button:hover {
    border: solid #cecece 2px;
    text-decoration: none;
}

.meta-aside,
#container main section#home ul li aside,
#container main article aside {
    margin: 0.5em 0;
    /* font-family: "Ruda", sans-serif; */
    color: #909090;
    font-size: 0.8em;
}

.meta-aside ul,
#container main section#home ul li aside ul,
#container main article aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.meta-aside ul li,
#container main section#home ul li aside ul li,
#container main article aside ul li {
    margin: 0;
    padding: 0;
}

#container main section#home .featured_image,
#container main section#list .featured_image,
#container main article .featured_image {
    width: 100%;
    height: 320px;
    overflow: hidden;
    position: relative;
}

#container main section#home .featured_image img,
#container main section#list .featured_image img,
#container main article .featured_image img {
    display: block;
    position: absolute;
    filter: saturate(.8) opacity(.8);
    transform: translateY(-50%);
    top: 50%;
}

a {
    color: #666666;
}

.image,
figure img,
img {
    width: 100%;
}

/**
:not(#home) and :not(#list) is avoiding full width image in list of posts, e.g. home and taxonomy pages
 */
/* header .full-image,
header figure.full img,
header img[src*="full"],
article .full-image,
article figure.full img,
article img[src*="full"],
section:not(#list):not(#home) .full-image,
section:not(#list):not(#home) figure.full img,
section:not(#list):not(#home) img[src*="full"] {
    width: 100%;
    box-shadow: 0 3px 3px #bbbbbb;
}

@supports (width: 100vw) {

    header .full-image,
    header figure.full img,
    header img[src*="full"],
    article .full-image,
    article figure.full img,
    article img[src*="full"],
    section:not(#list):not(#home) .full-image,
    section:not(#list):not(#home) figure.full img,
    section:not(#list):not(#home) img[src*="full"] {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}

.mid-image,
figure.mid img,
img[src*="mid"] {
    width: 100%;
    box-shadow: 0 3px 3px #bbbbbb;
}

@supports (width: 100vw) {

    .mid-image,
    figure.mid img,
    img[src*="mid"] {
        width: 800px;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -400px;
        margin-right: -400px;
    }

    @media only screen and (max-width: 932px) {

        .mid-image,
        figure.mid img,
        img[src*="mid"] {
            width: 100%;
            left: 0;
            right: 0;
            margin: 0;
        }
    }
}

.float-image,
figure.float img,
img[src*="float"] {
    width: 300px;
    float: left;
    margin: 0 1em 1em -3em;
    box-shadow: 0 3px 3px #bbbbbb;
}

@media only screen and (max-width: 932px) {

    .float-image,
    figure.float img,
    img[src*="float"] {
        float: none;
        margin: 0;
        width: 100%;
    }
}

.float-image-right,
figure.float-right img,
img[src*="float-right"] {
    width: 300px;
    float: right;
    margin: 0 -3em 1em 1em;
    box-shadow: 0 3px 3px #bbbbbb;
}

@media only screen and (max-width: 932px) {

    .float-image-right,
    figure.float-right img,
    img[src*="float-right"] {
        float: none;
        margin: 0;
        width: 100%;
    }
} */

figure {
    margin: 0;
}

figure figcaption p {
    margin-top: 0.3em;
    font-size: 0.8em;
    font-style: italic;
}

figure.full {
    margin: 0;
}

figure.mid {
    margin: 0;
}

figure.float {
    margin: 0;
    float: left;
}

figure.float-right {
    margin: 0;
    float: right;
}

figure.float-right figcaption {
    margin-left: 1em;
}

article img {
    margin-top: 24px;
    margin-bottom: 24px;
}

/* article img caption */
article img+em {
    display: block;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    margin-bottom: 24px;
    font-size: .8em;
    font-style: italic;
}

table {
    width: 100%;
    border-bottom: solid 1px #cecece;
}

table thead {
    background-color: #cecece;
}

blockquote {
    margin: 1em;
    border-left: solid 0.1em #cecece;
    padding: 0.5em 2em;
    position: relative;
    background-color: #efefef;
    /* box-shadow: 0 -1px 0 #bbbbbb inset; */
}

blockquote::before {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 3em;
    color: rgba(192, 192, 192, 0.3);
    position: absolute;
    left: 16px;
    top: 0;
}

hr {
    height: 1px;
    border-style: none;
    background-color: #999;
    margin-top: 32px;
    margin-bottom: 32px;
}

@media only screen and (max-width: 932px) {
    blockquote {
        margin: 1em 0;
        padding: 0.5em;
    }
}

dl dd {
    font-style: italic;
}

ul.pagination {
    display: flex;
    justify-content: center;
    margin: 1em 0 0;
    padding: 0.5em 0;
    list-style: none;
}

ul.pagination li {
    padding: 0 1em;
}