body {
    color: #c8adb5;
    background: #2A2829;
}

#container header h1 a {
    color: #aa3f79;
}

#container nav {
    border-bottom-color: #463A40;
}

#container nav a {
    color: #f04fa6;
}

#container nav ul li a.active {
    border-bottom-color: #463A40;
}

#container main section#home span {
    color: #666666;
}

#container main section#home a {
    color: #c6488c;
}

#container main section#list ul li {
    border-bottom-color: #cecece;
}

#container main section#list a {
    color: #c6488c;
}

#container main section.post-nav ul {
    border-top-color: #f7f7f7;
}

#container main article>pre {
    background-color: #443b39;
    /* box-shadow: 0 -1px 0 #bbbbbb inset; */
}

#container main article .highlight pre {
    color: #e3dcd4 !important;
    background-color: #191a17 !important;
}

#container main article p code,
#container main article li code {
    background-color: #f28fb13b;
}

#container main article p kbd {
    color: #555555;
    background-color: #fcfcfc;
    border-color: #cccccc #cccccc #bbbbbb;
    box-shadow: 0 -1px 0 #bbbbbb inset;
}

#container footer {
    border-top-color: #cecece;
}

#container footer ul li a.active {
    border-bottom-color: #ffffff;
}

#container textarea,
input {
    background-color: #fff;
    border-color: #cecece;
    color: #000000;
    box-shadow: inset 0 1px 2px rgba(17, 17, 17, 0.1);
}

#container button {
    border-color: #d3d6db;
    color: #666666;
}

#container button:hover {
    border-color: #cecece;
}

.meta-aside,
#container main section#home ul li aside,
#container main article aside {
    color: #909090;
}

#container main article h1 {
    color: #bf879f;
}

a {
    color: #db98ab;
}


/**
:not(#home) and :not(#list) is avoiding full width image in list of posts, e.g. home and taxonomy pages
 */
/* header .full-image,
header figure.full img,
header img[src*="full"],
article .full-image,
article figure.full img,
article img[src*="full"],
section:not(#list):not(#home) .full-image,
section:not(#list):not(#home) figure.full img,
section:not(#list):not(#home) img[src*="full"] {
    width: 100%;
    box-shadow: 0 3px 3px #bbbbbb;
}

@supports (width: 100vw) {

    header .full-image,
    header figure.full img,
    header img[src*="full"],
    article .full-image,
    article figure.full img,
    article img[src*="full"],
    section:not(#list):not(#home) .full-image,
    section:not(#list):not(#home) figure.full img,
    section:not(#list):not(#home) img[src*="full"] {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}

.mid-image,
figure.mid img,
img[src*="mid"] {
    width: 100%;
    box-shadow: 0 3px 3px #bbbbbb;
}

@supports (width: 100vw) {

    .mid-image,
    figure.mid img,
    img[src*="mid"] {
        width: 800px;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -400px;
        margin-right: -400px;
    }

    @media only screen and (max-width: 932px) {

        .mid-image,
        figure.mid img,
        img[src*="mid"] {
            width: 100%;
            left: 0;
            right: 0;
            margin: 0;
        }
    }
}

.float-image,
figure.float img,
img[src*="float"] {
    width: 300px;
    float: left;
    margin: 0 1em 1em -3em;
    box-shadow: 0 3px 3px #bbbbbb;
}

@media only screen and (max-width: 932px) {

    .float-image,
    figure.float img,
    img[src*="float"] {
        float: none;
        margin: 0;
        width: 100%;
    }
}

.float-image-right,
figure.float-right img,
img[src*="float-right"] {
    width: 300px;
    float: right;
    margin: 0 -3em 1em 1em;
    box-shadow: 0 3px 3px #bbbbbb;
}

@media only screen and (max-width: 932px) {

    .float-image-right,
    figure.float-right img,
    img[src*="float-right"] {
        float: none;
        margin: 0;
        width: 100%;
    }
} */

/* article img caption */
article img+em {
    color: rgba(0, 0, 0, .5);
}

table {
    border-bottom-color: #cecece;
}

table thead {
    background-color: #cecece;
}

blockquote {
    border-left-color: #715b54;
    background-color: #3e3b3c;
    /* box-shadow: 0 -1px 0 #797979 inset; */
}

blockquote::before {
    color: rgba(213, 186, 186, 0.1);
}